.github-nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  flex-wrap: wrap;

  form {
    display: flex;
    gap: 1rem;

    input {
      border: 1px solid grey;
      background-color: black;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      max-width: 350px;
      color: grey;
    }
    button {
      padding: 0.2rem 0.5rem;
      color: white;
      background-color: #0033f3;
      border: none;
      border-radius: 0.2rem;
      cursor: pointer;
    }
  }
}
